* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-100: #F8F8F8;
  --gray-200: #D7D7D7;
  --gray-300: #BBBBBB;
  --gray-700: #323238;
  --gray-900: #1A1D23;
  --pink: #FF57B2;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-900);
}
::-webkit-scrollbar {
  width: 6px;
  background: var(--gray-900);
}
::-webkit-scrollbar-thumb {
  background: var(--pink);
}

html {
  scrollbar-width: 6px;
}

@media (max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
      font-size: 87.5%;
  }
}

body {
  background: var(--gray-900);
  color: var(--gray-100);
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
