.postContainer {
    margin: 3rem auto 0;

    img {
        margin-bottom: 4rem;
    }

    button {
        margin: 4rem 0;
        font-size: 1.125rem;
        font-weight: 600;
        color: var(--pink);

        background: none;
        border: none;
    }

}

.post {
    a {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 1rem;

        img {
            width: 100%;
            height: 100%;
            margin-bottom: 0;
            object-fit: cover;
        }

        @media (max-width: 720px) {
            display: block;

            img {
                width: 100%;
                height: 100%;
                margin-bottom: 1rem;
            }
        }


        strong {
            font-size: 1.75rem;
            transition: color 0.2s;
        }

        strong + p {
            color: var(--gray-200);
            margin: 0.5rem 0 0;
        }


        &:hover strong {
            color: var(--pink);
        }

        & + a {
            margin-top: 3rem;
        }
    }
}
