.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (min-width: 1920px) {
        height: 25rem;
    }
}

.post {
    margin-top: 5rem;

    h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    h1 + em {
        display: flex;
        margin-top: 0.6rem;
        font-size: 1.2rem;
        color: var(--pink);
    }

    div + em {
        display: flex;
        margin-top: 1rem;
        font-size: 0.875rem;
        color: var(--gray-300);
    }

    a {
        color: var(--pink);
    }
}

.postContent {
    margin-bottom: 3rem;

    h2 {
        font-size: 2.25rem;
        font-weight: bold;
        margin: 3rem 0;
    }

    p, span, ul, li {
        font-size: 1.125rem;
        color: var(--gray-200);
        margin: 1.8rem 0;
        line-height: 1.8rem;
        text-align: justify;
    }

    strong {
        font-weight: bold;
        color: var(--gray-100);
    }

    &.hasNotHeading {
        p {
            margin-top: 3rem;
        }
    }

    img {
        width: 100%;
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        object-fit: cover;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;

    padding-top: 3rem;
    margin: 3.75rem auto 4rem;
    border-top: 1px solid var(--gray-700);

    div + div {
        margin-left: 3rem;

    }

    h3 {
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    a {
        color: var(--pink);
        font-weight: 600;
    }

}

.loading {
    color: var(--pink);
    width: 50px;
    margin-left: -25px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
}
